
.main-nav{
  font-family: "Francois One",sans-serif;
  margin-bottom: 3%

}
.nav-bar-div{
  padding:  0 20%;
}

.main-nav li{
  padding: 0 2.5rem;
  color: #fff;

}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #fff;
}


.info-card{
  margin: 1% 1% 0 1%;
  color: #0F2336;
  background-color: #E5C5A5;
  border-radius: 10%;
  box-shadow: 1px 1px 29px -8px rgba(58,167,174,0.4) inset;
   box-shadow: 2px 5px 8px -2px rgba(0,0,0,0.75);
}
.card-title{
  font-family: "Francois One", sans-serif;
  color: #0F2336;
  font-size: 2rem;
  padding-bottom: 30px;

}
.card-text{
  color: #0F2336;
}
.card{
  background-color: #D8D8D8!important;
  color: #0F2336 !important;
}
.del{
  padding: 0;
  border: none;
  background: none;
}
.gst{
  margin-left: 65%;

}

.bill{
  padding-left: 2%;
}


.total-bill{
  margin-top: 20px;
  border-radius: 2%;
  padding: 20px;
  margin-bottom: 40px;
  background-color: #343A40;
  box-shadow: 1px 1px 29px -8px rgba(58,167,174,0.4) inset;
   box-shadow: 2px 5px 8px -2px rgba(0,0,0,0.75);
}

.total-bill p {
  padding-bottom: 10px;

  border-bottom: 1px solid white;
}

.total-bill p:nth-last-of-type(1){
  padding-bottom: 0px;
  border-bottom: none;
}



/* @media (max-width:1200px) {
  .info-card{
    margin-top: 2%;
    align:center;
    height: 180px;
    width: 500px;
    background-color: #EBECE9;
    border-radius: 10%;
    box-shadow: 1px 1px 29px -8px rgba(58,167,174,0.4) inset;
     box-shadow: 2px 5px 8px -2px rgba(0,0,0,0.75);
  } */
