html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
  font-family: "Merriweather";
  text-align: center;
  color: #fff;
  
}
.hero-image{
  height: 720px;
  background: #e8eced url("../images/landing.png") no-repeat center ;

}

.main-title{
  padding: 5% 20%;
}

.title-heading{
  font-family: "Francois One";
  font-size: 6.5rem;
  padding-bottom: 5%;
}

.heading-text{
  font-size: 1.2rem;
  font-weight: 100;
  letter-spacing: 0.05em;
  line-height: 1.8em;
}
.title-button1,.title-button2{

  margin:  3%;
  margin-top: 5%;
  width: 7.5em;
}
.title-button1:hover{
  background-color: transparent;
  color: #fff;
  }
.main-nav{
  font-family: "Francois One",sans-serif;

}
.nav-bar-div{
  padding:  0 20%;
}

.main-nav li{
  padding: 0 3.5rem;
  color: #fff;

}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #fff;
}

#mid-sec{
  padding:100px;
}

.info-card{
  margin: 0 2%;
  height: 330px;
  width: 289px;
  background-color: #EBECE9;
  border-radius: 5%;
  box-shadow: 1px 1px 29px -8px rgba(0,0,0,0.4) inset;
  /* box-shadow: 2px 5px 8px -2px rgba(0,0,0,0.75); */
}
.card-title{
  font-family: "Francois One", sans-serif;
  color: #0F2336;
  font-size: 2rem;
  padding-bottom: 30px;

}
.card-text{
  color: #576d81;
}
.sec-img{
  width: auto;
  height: auto;
  position: absolute;
  left: 0;
  

}
/* #image {
  position: absolute;
  left: 0;
  top: 0;
}
#text {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  left: 150px;
  top: 350px;
} */
@media(max-width: 991px){
  .nav-bar-div{
    padding:  0 20px;
  
  }
}

