html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
  font-family: "Merriweather";
  text-align: center;
  color: #fff;

}
.hero-image{
  height: 625px;
  background: #e8eced url("../images/landing.png") no-repeat center ;

}



.email,.pass{
  width: 75%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1px;
  background: white;
  padding: 5px 20px;
  border: none;
  outline: none;
  box-sizing: border-box;
  border: 2px solid white;
  margin: 2rem 0  1.5rem  2.5rem
}
.sign {

  color:rgb(58, 167, 174) ;
  font-weight: bold;
  font-size: 180%;
}

.article1 {
  float: left;

}


.submit {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: rgb(58, 167, 174);
  padding: 10px 30px;
  margin-left: 7%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {

  color: rgb(58, 167, 174);
  padding-top: 0px;
  margin-left: 7%;
  margin-top: 7%;
}
.card {
    ...
    background-color: rgb(58, 167, 174) !important;
    ...
}
.article2{
  background-color: rgb(58, 167, 174);
  float: right;

}
.icon
{
  color: rgb(58, 167, 174);
  padding: 1em;
}
